body {
  background-color: #3A3620 !important;
  font-family: 'Nanum Gothic', sans-serif;
}

nav {
  background-color: #D8CC9E;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 16px;
  color: white;
  text-shadow: 4px 4px #000;
  font-family: 'Alfa Slab One', cursive;
}

p, ul, ol {
  color: #292e23;
  font-size: 1.4rem;
}

header {
  height: 600px;
  margin-bottom: 32px;
}

section {
  background-color: #D8CC9E;
}

#map {
  padding-left: 32px;
  padding-right: 32px;
}

.game1Img, .game2Img, .game3Img, #map {
  border-radius: 2%;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: #69613b;
  color: #edebe2;
}

.footer section small {
  color: #292e23;
}

.nextBtn {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  width: 20%;
  height: 50px;
  margin-top: 16px;
  font-size: 24px !important;
}


.season {
  height: auto;
  max-width: 100%;
}

.game1Img {
  height: 1040px;
  width: 100%;
  background-image: url("../img/game1.jpg");
  background-size: cover;
}

.game2Img {
  height: 1040px;
  width: 100%;
  background-image: url("../img/game2.jpg");
  background-size: cover;
}

.game3Img {
  height: 1040px;
  width: 100%;
  background-image: url("../img/game3.jpg");
  background-size: cover;
}

div .game2, div .game3 {
  display: none;
}

/*--------Game Buttons--------*/
.poisonButton {
  color: white;
  border-radius: 50%;
  background-color: red;
  opacity: .0;
  position: absolute;

}

.poisonButton:hover {
  text-decoration: none;
  cursor: default !important;
}

.poisonButtonShow {
  opacity: 0.4;
  -webkit-transition: opacity 1s ease-in;
   -moz-transition: opacity 1s ease-in;
   -o-transition: opacity 1s ease-in;
   -ms-transition: opacity 1s ease-in;
   transition: opacity 1s ease-in;
}

.game1plant1 {
  height: 150px;
  width: 150px;
  margin-top: 890px;
  margin-left: 360px;
}

.game1plant2 {
  height: 200px;
  width: 200px;
  margin-top: 630px;
  margin-left: 0;
}

.game1plant3 {
  height: 150px;
  width: 150px;
  margin-top: 690px;
  margin-left: 920px;
}

.game1plant4 {
  height: 150px;
  width: 150px;
  margin-top: 330px;
  margin-left: 420px;
}

.game2plant1 {
  height: 200px;
  width: 200px;
  margin-top: 150px;
  margin-left: 140px;
}

.game2plant2 {
  height: 150px;
  width: 150px;
  margin-top: 420px;
  margin-left: 350px;
}

.game2plant3 {
  height: 210px;
  width: 210px;
  margin-top: 450px;
  margin-left: 490px;
}

.game3plant1 {
  height: 225px;
  width: 225px;
  margin-top: 520px;
  margin-left: 650px;
}

.game3plant2 {
  height: 300px;
  width: 300px;
  margin-top: 625px;
  margin-left: 135px;
}

.game3plant3 {
  height: 320px;
  width: 320px;
  margin-top: 700px;
  margin-left: 750px;
}

.game3plant4 {
  height: 200px;
  width: 200px;
  margin-top: 200px;
  margin-left:30px;
}

.card {
  background-color: #D8CC9E !important;
  margin-bottom: 32px;
}

.card-title {
  color: white;
  text-align: center;
  font-weight: 800;
  background-color: #336600;
  color: #c5d9ae;
}

.card-img-top {
  height: 300px;
}

.index-images {
  height: 525px;
}

.season-images {
  height: 750px;
}

.type-images {
  height: 700px;
}

.jumbotron {
  font-family: 'Alfa Slab One', cursive;
  background-image: url("../img/mainBG.jpg");
  background-size: cover;
  height: 500px;
  margin-top: 7px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  font-size: 100px;
  text-shadow: 4px 4px #000;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.container-treatment {
  background-image: url('../img/MainBG.jpg');
  background-size: cover;
}


/*--------Nav--------*/
.navbar {
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0 !important;
}

.navbar a {
  float: left;
  font-size: 20px;
  display: block;
  color: black;
  background-color: #D8CC9E;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  width: 20%;
}

.navbar a:hover {
  background-color: #336600;
  text-decoration: none;
  color: white;
}

.symptomImg {
  border-radius: 10%;
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 25px;
}
.hiddenImg {
  display: none;
  border-radius: 10%;
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 16px;
}

#pin {
  width: 45px;
  height: 60px;
}

#showImg {
  border-radius: 10%;
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 16px;
  color: white;
  background-color: black;
}

#warning{
  color:red;
  font-size: 40px;
}
.treatmentImg {
  border-radius: 10%;
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 20px;
}

.season-body {
  padding: 6px;
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}
.masthead h3 {
  color: white;
  text-shadow: 3px 3px #000;
  font-size: 2em !important;
  font-family: 'Alfa Slab One', cursive;
}

.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}

.masthead .masthead-subheading {
  font-size: 1.25rem;
}

.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(12rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}
