body {
  background-color: #3A3620 !important;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  padding: 8px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000;
}

.season {
  height: 100;
  max-width:
  100%;
}

.card {
  background-color: #D8CC9E !important;
  opacity: 0.92;
}

.card-title {
  color: white;
  text-align: center;
  font-weight: 800;
  background-color: #228B22;
}

.row {
  margin-bottom: 32px;
}

.jumbotron {
  font-family: 'Alfa Slab One', cursive;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/44/Poisonoakyoung.JPG");
  background-size: cover;
  height: 500px;
  margin-top: 7px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  font-size: 100px;
  text-shadow: 4px 4px #000;
}

.container {
  background-color: #D8D3C0;
  padding: 0 !important;
}

.container-treatment {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1a/Entrance_to_Abeokuta_Forest_Nursery.jpg");
  background-size: cover;
}

.card-img-top {
  height: 300px;
}

nav {
  background-color: #D8D3C0;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0 !important;
  opacity: 0.92;
}

.navbar a {
  float: left;
  font-size: 20px;
  display: block;
  color: black;
  background-color: #D8CC9E;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  width: 25%;
}

.navbar a:hover {
  background-color: #228B22;
  text-decoration: none;
  color: white;
}

.symptomImg {
  border-radius: 10%;
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 16px;
}
.treatmentImg {
  border-radius: 10%;
  height: 250px;
  width: 250px;
  float: right;
  margin-right: 16px;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.season-body {
  padding: 6px;
}
